NEXT_PUBLIC_APP_URL=http://localhost:3000
BETTER_AUTH_URL=http://localhost:3000
BETTER_AUTH_SECRET=replace-with-random-32-char-secret
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/smart_perumahan
# Optional: gunakan ini jika ingin eksplisit pakai koneksi PostgreSQL Supabase
# SUPABASE_DB_URL=postgresql://postgres.xxxxx:[PASSWORD]@aws-0-ap-southeast-1.pooler.supabase.com:6543/postgres
NEXT_PUBLIC_SUPABASE_URL=https://YOUR_PROJECT_REF.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=your-anon-key
SUPABASE_SERVICE_ROLE_KEY=your-service-role-key
SUPABASE_STORAGE_BUCKET=payment-proofs
# Jika pakai Supabase PostgreSQL, biarkan DB_SSL kosong atau set true
DB_SSL=false
